on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs
    # zte wait the last partition necessary for recovery
    wait /dev/block/mmcblk0p19
    symlink /sbin/  /system/bin
    symlink /sbin/ash /sbin/sh
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service rmt_storage /sbin/rmt_storage_recovery /dev/block/mmcblk0p10 /dev/block/mmcblk0p11 /dev/block/mmcblk0p17
    user root

service usbconfig /sbin/usbconfig
		user root
    oneshot

service recovery /sbin/recovery

#liushoubin test
service console /sbin/busybox ash
    console
service diagtest /sbin/diagftmtest
    user root
    group radio cache inet misc audio qcom_oncrpc diag

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
# on property:ro.debuggable=1
on property:sys.usb.config=diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct 0112
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=diag,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct 0213
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

